@import './variable.scss';

@mixin  setbgColor ($color) {
  @extend %theme1-#{$color};
  
  [data-theme="theme1"] & {
    @extend %theme1-#{$color};
  }

  [data-theme="theme2"] & {
    @extend %theme2-#{$color};
  }
}
@mixin  setFontColor ($color) {
  @extend %theme1-#{$color};

  [data-theme="theme1"] & {
    @extend %theme1-#{$color};
  }

  [data-theme="theme2"] & {
    @extend %theme2-#{$color};
  }
}

@mixin  border($color) {
  border: 1px solid $color;
  [data-theme="theme1"] & {
    border: 1px solid $theme1-border !important;
  }
  [data-theme="theme2"] & {
    border: 1px solid $theme2-border !important;
  }
}